$error-color: #e74c3c;
$error-background: #f8d7da;
$error-border: #f5c6cb;

$success-color: #13550b;
$success-background: #c1e2b3;
$success-border: #b0d7a5;

$blue-color: #486581;
$dark-blue-color: #2c3e50;
$white-color: #f7f7f7;
$dark-color: #13161A;
$dark-light-color: #1A1D24;
$light-grey: #4A5765;
$hover-color: rgba(158, 158, 158, 0.050);
$hover-color: #9e9e9e;

// CLASSE POUR LE DÉVELOPPEMENT FRONT END //
.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-light {
  background-color: #5D6D7E;
}

.bg-light-grey {
  background-color: #4A5765;
}

.bg-grey {
  background-color: #d6d6d6;
}

.bg-light-dark {
  background-color: #2C3A47;
}

.bg-blue {
  background-color: #2c3e50;
}

.bg-blue-light {
  background-color: #34495E;
}

.bg-dark-light {
  background-color: #1A1D24;
}

.bg-dark-grey {
  background-color: #282a35;
}