$white-color: #f7f7f7;
$dark-color: #13161A;
$light-grey: #4A5765;

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-thumb {
    background-color: $light-grey;
}

::-webkit-scrollbar-track {
    background-color: #282a35;
}

$font-family: 'Roboto', sans-serif;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font-family;
    scroll-behavior: smooth;
    font-weight: bold;
    text-align: center;
}

body {
    color:white;
    font-weight: bold;
    font-size: small;
    margin-top:10vh;
    background-color: $dark-color;
}
