@use "colors" as *;
@use 'buttons' as *;

// STYLE DU FORMULAIRE //
#registration-form, #login-form, #update-form {

  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 90%;
  background-color: darken($dark-light-color, 5%);
  padding: 2em;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px darken($hover-color, 50%);

  h1 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: $white-color;
    margin-bottom: 0.5em;
  }

  // STYLE DES CHAMPS ET DES LABELS //
  .form-group {
    position: relative;
    margin-bottom: 1.5em;

    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
      color: $white-color;
      text-align: left;
      opacity: 0.6;
    }

    .input-with-icon {
      position: relative;

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="date"] {
        width: 100%;
        padding: 0.8em;
        font-size: 1.1em;
        border: none;
        color: $dark-color;
        box-sizing: border-box;

        &:focus {
          outline: solid 3px darken($blue-color, 30%);
        }
      }

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.8em;
        color: $dark-light-color;
      }
    }

    .form-error {
      position: absolute;
      margin: 0 auto;
      bottom: -1.5em;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      color: $error-color;
      font-size: 0.9em;
    }
  }

  // STYLE DU BOUTON //
  .form-button {
    @include form-button($dark-light-color, $white-color, lighten($dark-light-color, 10%));
  }
}
