@use "colors" as *;
@use 'mixins' as *;

// STYLE DU FORMULAIRE //
#registration-form, #login-form, #delete-account-form, #modify-password-form, #edit-avatar-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 90%;
  background-color: darken($dark-light-color, 5%);
  padding: 2em;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px darken($hover-color, 50%);

  h1, h2 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: $white-color;
    margin-bottom: 1em;
    font-size:110%;
    letter-spacing: 0.2em;
  }

  // STYLE DES CHAMPS ET DES LABELS //
  .form-group {
    position: relative;
    margin-bottom: 1.5em;

    label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: bold;
      color: $blue-color;
      text-align: left;
    }

    .input-with-icon {
      position: relative;


      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="date"],
      input[type="file"],
      textarea {
        width: 100%;
        padding: 1em;
        border: none;
        background: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
        color: $dark-color;
        box-sizing: border-box;
        font-size: smaller;
        height: fit-content(100%);

        &:focus {
          outline: solid 3px $blue-color;
        }
      }

      & input[type="file"]::file-selector-button {
        @include form-button($dark-light-color, $blue-color, lighten($dark-light-color, 10%));
      }

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1em;
        color: $dark-light-color;
      }
    }

    .form-error {
      position: absolute;
      margin: 0 auto;
      bottom: -1.5em;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      color: $error-color;
      font-size: 0.9em;
    }

  }

  // STYLE DU BOUTON //
  .form-button {
    @include form-button($dark-light-color, $blue-color, lighten($dark-light-color, 10%));
  }
}
