$white-color: #f7f7f7;
$dark-color: #13161A;
$dark-purple-color: #1c1b33;
$hover-color: rgba(158, 158, 158, 0.050);

@media screen and (min-width:1600px) {

    #nav-shadow {
        display: none;
    }

    nav {
        #nav-open,
        #nav-close {
            display: none;
        }

        .brand:first-child {
            .brand-logo {
                display: initial;
            }
        }

        #navigation-links {
            position: initial;
            background: none;
            padding: 0;
            transform: none;
            height: initial;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;

            li a {
                color: $dark-color;
            }

            li.dropdown {
                &:first-child {
                    position: initial;
                    order: 1;
                    margin-bottom: 0;
                    background-image: none;
                    box-shadow: none;

                    button.dropdown-toggle {
                        position: initial;
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
                        color: $dark-color;
                        justify-content: center;
                        padding-right: 1em;

                        .avatar {
                            width: 32px;
                            height: 32px;
                            margin-bottom: 0;
                        }

                        .fa-chevron-down {
                            position: initial;
                            order: 1;
                            bottom: initial;
                        }
                    }

                    .sub-items {
                        transform: translateX(0.7em);
                    }
                }

                button.dropdown-toggle {
                    position: relative;
                    width: fit-content;
                    color: $dark-color;
                    padding-right: 2em;

                    .fa-chevron-down {
                        font-size: 1em;
                        right: 0;
                        z-index: 1;
                    }
                }

                .sub-items {
                    position: absolute;
                    top: 100%;
                    background: linear-gradient(to bottom, $dark-purple-color, darken($dark-purple-color, 10%));
                    border-left: 1px solid darken($white-color, 60%);
                    border-right: 1px solid darken($white-color, 60%);
                    border-bottom: 1px solid darken($white-color, 60%);

                    li a {
                        position: relative;
                        overflow: hidden;
                        padding: 2em;
                        gap: 1em;
                        color: white;
                        z-index: 1;
                        font-size: 1em;
                        font-weight: bold;

                        .game-logo {
                            position: absolute;
                            left: 1em;
                            width: 64px;
                            height: 64px;
                            z-index: -1;
                            transform: rotate(20deg) scale(1) translateX(-50%);
                            opacity: 0;
                            transition: all 1s ease-in-out;
                        }

                        &:hover .game-logo {
                            opacity: 0.4;
                            transform: rotate(30deg) scale(3) translateX(0%);
                            transition: all 1s ease-in-out;
                        }
                    }
                }

                /* STYLE POUR LE SOUS MENU 'ACTUALITÉS' CENTRAGE DU SOUS MENU */
                &:nth-child(3) .sub-items {
                    transform: translateX(-4em);
                }
                /* STYLE POUR LE SOUS MENU 'CLUSTERS' CENTRAGE DU SOUS MENU */
                &:nth-child(5) .sub-items {
                    transform: translateX(-1.5em);
                }
                /* STYLE POUR LE SOUS MENU 'GUIDES' CENTRAGE DU SOUS MENU */
                &:nth-child(7) .sub-items {
                    transform: translateX(-2.5em);
                }
            }
        }
    }
}
