.form-error {
  color:#721c24;
  margin-bottom: 10px;
  border-radius: 5px;
}

.alert-warning {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}
