@use  'colors' as *;

@mixin form-button($bg-color, $text-color, $hover-bg-color) {
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 1em;
  background-color: $bg-color;
  color: $text-color;
  border: solid 1px $blue-color;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 0.2em;

  &:hover {
    background-color: $hover-bg-color;
  }
}