$primary-nav-color: #F5FFFA;
$secondary-nav-color: #1d1b31;
$third-nav-color: #0e0e11;
$hover-color: rgba(85, 85, 85, 0.2);
$text-white: #e0e0e0;
$text-dark: #0e0e11;

nav {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-nav-color;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

    > a {
        color: $text-white;
        text-decoration: none;
        margin-left: 1em;
    }

    .navigation-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 65%;
        background: linear-gradient(to bottom, $secondary-nav-color, darken($secondary-nav-color, 10%));
        overflow-y: auto;
        padding: 1em ;

        .navigation-menu {
            width: 100%;

            li a{
                color: $text-white;
                width: 100%;
            }
            .nav-items {
                position: relative;
                a {
                    color: red;
                    text-decoration: none;
                    padding: 1em;
                    width: 100%;
                }
                &:hover, &.active {
                    background-color: $hover-color;
                }
                .nav-link-container {
                    display: flex;
                    align-items: center;

                    a {
                        padding: 1em;
                        color: $text-white;
                        text-decoration: none;
                        flex-grow: 1;
                    }

                    .menu-icon {
                        position:absolute;
                        right:2em;
                        width: 16px;
                        height: 16px;
                    }
                }

                .sub-items {
                    display: none;
                    background-color: darken($secondary-nav-color, 5%);
                    li a {
                        font-size: 80%;
                        display: block;
                        width: 100%;
                        padding: 1em;
                        color: $text-white;
                        text-decoration: none;
                    }
                }

                &:hover .sub-items {
                    display: block;
                }
            }
        }

        .account {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: auto;
            padding: 1em 0;
            gap: 1em;

            img {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                border: solid 2px $text-white;
            }

            a {
                color: $text-white;
                text-decoration: none;
            }
        }
    }
}