@use "colors" as *;

#nav-shadow{
    position:fixed;
    left:0;
    width: 35vw;
    height: 90dvh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
}

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding-left: 2em;
    padding-right: 2em;
    background: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);

    .brand:first-child {
        display:flex;
        align-items: center;
        gap:0.5em;
        color: $dark-color;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5em;

        .brand-logo {
            display:none;
            width: 32px;
            height: 32px;
        };
    };

    #nav-open{
        color: $dark-color;
    }

    #nav-close {
        display: none;
        color: $error-color;
    };


    /* STYLE POUR LE CONTENEUR DES LIEN UL DE LA NAVIGATION */
    #navigation-links {
        position: fixed;
        display:flex;
        flex-direction: column;
        gap: 1em;
        top: 10vh;
        right: 0;
        width: 65vw;
        height: 90vh;
        padding: 1em;
        transform: translateX(101%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
        background: linear-gradient(to bottom, $dark-light-color, darken($dark-light-color, 10%));
        border-left: solid 1px darken($hover-color, 50%);

        // POUR FAIRE APPARAITRE LE MENU DE NAVIGATION (JS)
        &.transform-x-0 {
            transform: translateX(0%);
        };

        li a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 2em;
            color: $white-color;
            font-weight: bolder;
            text-transform: uppercase;

            .game-logo {
                position: absolute;
                left: 5%;
                width: 16px;
                height: 16px;
            };
        };

        li.dropdown {
            /* STYLE POUR LE PREMIER ELEMENT 'LI' DE 'NAVIGATION-LINKS' */
            &:first-child {
                position: relative;
                padding: 1em;
                margin-bottom: 1em;
                border-radius: 0.2em;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                border: solid 1px darken($hover-color, 50%);
                background: linear-gradient(to top, $dark-light-color, darken($dark-color, 10%));

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: url('../img/community/asa.webp') center/cover;
                    opacity: 0.3;
                }

                .dropdown-toggle {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .avatar {
                        width: 64px;
                        height: 64px;
                        object-fit: cover;
                        margin-bottom: 1em;
                        border: solid 3px white;
                        border-radius: 50%;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                    }

                    .fa-chevron-down {
                        position: absolute;
                        right: 1.5em;
                        font-size: 0.5em;
                        bottom: 2.5em;
                    }
                }
            }

            /* STYLE POUR TOUT LES AUTRES ELEMENTS '-DROPDOWN' DE 'NAVIGATION-LINKS' */
            .dropdown-toggle {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1em;
                background-color: transparent;
                border: none;
                color: $white-color;
                font-weight: bolder;
                text-transform: uppercase;
                cursor: pointer;

                & i.fa-chevron-down {
                    position: absolute;
                    right: 2em;
                    font-size: 0.5em;
                    transition: transform 0.5s ease;
                }
            }
        }

        /* STYLES POUR LE SOUS MENUS DÉROULANT */
        .sub-items {
            position: relative;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
            background-color: darken($dark-light-color, 5%);

            li a{
                font-size: 80%;
                font-weight: normal;

                /* STYLE POUR LA BARRE DE SURVOL DES LIEN DE SOUS MENU */
                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                };
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 30%;
                    left: 50%;
                    width: 20%;
                    height: 2px;
                    background-image: linear-gradient(to left, transparent, $blue-color, transparent);
                    transform: translateX(-50%) scaleX(0);
                    transition: transform 0.3s ease-in-out;
                };
            };

            &.sub-items-border {
                border: solid 1px darken($hover-color, 50%);
            };

            /* BORDURE ENTRE LES LIENS DE SOUS MENU */
            li:not(:last-child)::after {
                content: "";
                display: block;
                margin: 0 1em;
                border: solid 1px darken($hover-color, 50%);
            };
        };
    };
};