$white-color: #f7f7f7;
$dark-color: #1f2927;
$dark-purple-color: #111827;
$hover-color: #9e9e9e;

#nav-shadow{
    position:absolute;
    left:0;
    width: 35vw;
    height: 90dvh;
    background-color: rgba(0, 0, 0, 0.500);
    opacity: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding-left: 2em;
    padding-right: 2em;
    background-color: $white-color;
    //box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    .brand:first-child {
        display:flex;
        align-items: center;
        gap:0.5em;
        color: $dark-color;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5em;

        .brand-logo {
            display:none;
            width: 32px;
            height: 32px;
        };
    };

    #nav-close {
        display: none;
    };

    #nav-open, #nav-close {
        width: 2em;
        cursor: pointer;
    };

    #navigation-links.d-initial {
        transform: translateX(0%);
    };

    /* STYLE POUR LE CONTENEUR DES LIEN UL DE LA NAVIGATION */
    #navigation-links {
        position: fixed;
        display:flex;
        flex-direction: column;
        gap: 1em;
        top: 10vh;
        right: 0;
        width: 65vw;
        height: 90vh;
        padding: 1em;
        transform: translateX(101%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
        background: linear-gradient(to bottom, #111827, darken(#111827, 10%));
        border-left: solid 1px darken($hover-color, 50%);


        li a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 2em;
            color: $white-color;
            font-weight: bolder;
            text-transform: uppercase;

            &:hover {

                &::after {
                    transform: translateX(-50%) scaleX(1);
                };
            };

            &::after {
                content: "";
                position: absolute;
                bottom: 20%;
                left: 50%;
                width: 20%;
                height: 2px;
                background-image: linear-gradient(to left, transparent, $white-color, transparent);
                transform: translateX(-50%) scaleX(0);
                transition: transform 0.3s ease-in-out;
            };

            .game-logo {
                position: absolute;
                left: 2em;
                width: 16px;
                height: 16px;
            };
        };

        li.dropdown {
            /* STYLE POUR LE PREMIER ELEMENT 'LI' DE 'NAVIGATION-LINKS' */
            &:first-child {
                position: relative;
                padding: 1em;
                margin-bottom: 1em;
                background: url('../img/navigation/banner.png') center / cover;
                border-radius: 0.2em;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

                button.dropdown-toggle {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .avatar {
                        width: 64px;
                        height: 64px;
                        margin-bottom: 1em;
                        border: solid 2px white;
                        border-radius: 50%;
                        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                    };

                    .fa-chevron-down {
                        position: absolute;
                        right: 1.5em;
                        font-size: 0.5em;
                        bottom: 2.5em;
                    };
                };
            };

            /* STYLE POUR TOUT LES AUTRES ELEMENTS 'BUTTON-DROPDOWN' DE 'NAVIGATION-LINKS' */
            button.dropdown-toggle {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1em;
                background-color: transparent;
                border: none;
                color: $white-color;
                font-weight: bolder;
                text-transform: uppercase;
                cursor: pointer;

                & i.fa-chevron-down {
                    position: absolute;
                    right: 2em;
                    font-size: 0.5em;
                    transition: transform 0.5s ease;
                };
            };
        };

        /* STYLES POUR LE SOUS MENUS DÉROULANT */
        .sub-items {
            position: relative;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
            background-color: darken($dark-purple-color, 5%);

            li a{
                font-size: 80%;
                font-weight: normal;
            };

            &.sub-items-border {
                border: solid 1px darken($hover-color, 50%);
            };

            .hidden-menu {
                transform: translateX(100%);
                transition: transform 0.3s ease-in-out;
            };

            li:not(:last-child)::after {
                content: "";
                display: block;
                margin: 0 1em;
                border: solid 1px darken($hover-color, 50%);
            };
        };
    };
};