$blue-color: #3498db;
$error-color: #e74c3c;
$white-color: #f7f7f7;
$dark-color: #13161A;
$dark-purple-color: #1d1b31;


h1 {
    text-transform: uppercase;
    text-align: center;
    color: $dark-color;
    margin-bottom: 1em;
}


form {
        margin: 0 auto;
        height: 100%;
        background: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
        padding: 2em;
        width: 90%;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid $dark-purple-color;

      & .form-button {
        text-transform: uppercase;
      }
    }


label {
    color: #0e0e11;
    text-align: left;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 1em;
    border: 1px solid $dark-purple-color;

    &:focus {
        outline: 1px solid $dark-purple-color;
    }
}

input[type="submit"] {
    margin-top: 3em;
    width: 100%;
    padding: 1em;
    border: none;
    background-color: $dark-purple-color;
    color: $white-color;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($dark-purple-color, 10%);
    }
}
