$blue-color: #3498db;
$error-color: #e74c3c;
$white-color: #f7f7f7;
$dark-color: #13161A;
$dark-purple-color: #1d1b31;

.bg-white {
    background-color: #F5FFFA;
}

.bg-light {
    background-color: #5D6D7E;
}

.bg-light-grey {
    background-color: #4A5765;
}

.bg-grey {
    background-color: #d6d6d6;
}

.bg-light-dark {
    background-color: #2C3A47;
}


.bg-blue {
    background-color: #2c3e50;
}

.bg-blue-light {
    background-color: #34495E;
}

.bg-dark {
    background-color: #13161A;
}

.bg-dark-light {
    background-color: #1A1D24;
}

.bg-dark-grey {
    background-color: #282a35;
}


h1 {
    text-align: center;
    color: $blue-color;
}


form {
        margin: 0 auto;
        height: 100%;
        background: linear-gradient(to bottom, $white-color, darken($white-color, 10%));
        padding: 2em;
        width: 90%;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
        border: 1px solid secondary-nav-color;
    }


label {
    color: #0e0e11;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid $dark-purple-color;

    &:focus {
        outline: 1px solid $dark-purple-color;
    }
}

input[type="submit"] {
    width: 100%;
    padding: 1em;
    border: none;
    background-color: $dark-purple-color;
    color: $white-color;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($dark-purple-color, 10%);
    }
}



p {
    color: $error-color;
    margin-top: -15px;
    margin-bottom: 10px;
}
