@use "colors" as *;
@use "mixins" as *;


#user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background: linear-gradient(to bottom, $dark-light-color, darken($dark-light-color, 10%));
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px darken($hover-color, 50%);
  position:relative;
  margin: 0 auto;
  gap:1em;
  overflow: hidden;

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding:1em;
    background: linear-gradient(to top, $dark-light-color, darken($dark-color, 10%));
    border-bottom: solid 1px darken($hover-color, 50%);
    z-index: 1;


    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('../img/profil-banner-default.png') center/cover;
      opacity: 0.3;
      z-index: -1;
    }

    #profile-button {
      background: transparent;
      border: none;
      position: absolute;
      display: flex;
      justify-content: center;
      padding:1.5em;
      align-items: center;
      top: 0.5em;
      right: 0.5em;
      color: $white-color;
      cursor:pointer;

      &:hover {
        color: $hover-color;
      }
    }

    .tribe{
      color: $blue-color;
    }

    .role{
      text-transform: uppercase;
      position:absolute;
      font-weight: bolder;
      top: 0.5em;
      left: 0.5em;
      color: $success-color;
    }

    .avatar {
      width: 100px;
      height: 100px;
      margin-bottom: 1em;
      border: solid 2px white;
      border-radius: 50%;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .desc{
    background-color: darken($dark-light-color, 5%);
    border: solid 1px darken($hover-color, 50%);
    padding:0.5em;
    width: 90%;
    margin: 0 auto;
  }

  ul {
    width: 90%;
    position: relative;
    background-color: darken($dark-light-color, 5%);
    border: solid 1px darken($hover-color, 50%);

    li {
      padding: 1em;
      position: relative;

      i{
        position: absolute;
        left: 1em;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: darken($hover-color, 50%);
        transform: translateX(-50%);
        width:80%;
        height: 2px;
      }
    }
  }

  .sign{
    background-color: darken($dark-light-color, 5%);
    border: solid 1px darken($hover-color, 50%);
    padding:0.5em;
    width: 90%;
    margin: 0 auto;
  }

  .profile-footer{
    font-size: smaller;
    border-top: solid 1px darken($hover-color, 50%);
    padding:0.5em;
    width:100%;
    background-color: darken($dark-color, 5%);

      span{
        color: $blue-color;
      }
  }

  #edit-profile-form {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    transition: transform 0.3s ease;

    &.transform-x-0 {
      transform: translateX(0%);
    };

    .form-button:last-child{
      color: $error-color;
      border: solid 1px darken($error-color, 20%);
    }

    .profile-edit-form-header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: darken($dark-light-color, 5%);

      h2{
        border-top: solid 1px darken($hover-color, 50%);
        padding-top: 0.5em;
        margin-top: 2em;

      }

      #form-profile-button{
        position: absolute;
        top:0.5em;
        left:0.5em;
        background: transparent;
        border: none;
        color: $white-color;
        cursor: pointer;
        padding: 1em;

        &:hover{
          color: $hover-color;
        }
      }
    }

  }
}
